.App-header{
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;

}
.addblog{
    font-weight: 300;
    border-bottom: 2px solid black;
}